// Variables

$spacer-lg                      : 3rem;
$spacer-sm                      : 1.5rem;

$layout-spacer-lg               : 3rem;
$layout-spacer-x                : 1.5rem;

$side-layout-spacer-x           : 0.5rem;

$app-sidebar-width              : 280px;
$app-sidebar-width-collapsed    : 80px;
$app-sidebar-width-collapsed-new    : 0;

$logo-height                    : 30px;
$logo-width                     : 175px;

$app-header-height              : 60px;
$app-top-header-height 			: 110px;