.lp_title{font-weight: 600;font-size: 35px;line-height: 40px}
.lp_sub_title{font-size:20px;text-align: center;margin-top: 20px;margin-bottom: 50px;line-height: 30px;}
.top_social_icons{ display: flex;justify-content: center;align-items: center;}
.top_social_icons a {color: #333;font-size: 25px; padding: 10px 6px;}
.top_logo{padding:15px;}
.footer-1{ background:#f5f5f5; padding:30px;}
.footer-1 ul{padding-left:15px;}
.footer-1 li{ list-style-type:none; line-height:30px;}
.footer-2 li{ list-style-type:none; display:inline-block; padding-right:20px;}
.inner-menu{margin-top:60px;}
.content-two{background: #C4C4C4;width: 100%;text-align: center;padding: 80px;font-weight: bold;font-size: 22px;}
.content-three{background: #ABA3A3;width: 100%;text-align: center;padding: 80px;font-weight: bold;font-size: 22px;}
.footer-copyright{text-align:right;}
.txtcap{text-transform:uppercase; margin-bottom:5px;}
.login_with h5{ font-size:16px; margin:20px 0;}
.login_with .col-md-2{ float:left; font-size:20px;}
.tp_nav .nav-link{ padding:2px; font-size:18px;}
.fl{float:left;}
.inav{font-size: 20px; font-weight: bold !important;vertical-align: text-bottom;}

.top_main_header{ display:flex; width:100%;}
.top_custom_nav{ background: #000;width: 100%;}
.top_custom_nav li{ display:inline-block;}
.footer-sec-one-div{ background-color:#c4c4c4; padding:10px; margin-top:10px; text-align:center; font-weight:bold;}