.login-fds{ height:45px;line-height: 45px;}
.lp_title{font-family: 'Poppins',sans-serif;font-weight:600;font-size: 42px;line-height: 50px; color:#002A3D;}
.lp_register{font-family:'Poppins',sans-serif;font-weight:500;font-size: 16px;}
.loginForm_btndiv{width: 100%;}
.lp_forgotps_link{font-family:'Poppins',sans-serif;font-weight:600;font-size:14px;color: #347DF0;}
.lp_cnwith_text{font-family:'Poppins',sans-serif;font-weight:500;font-size:18px;}
.lp_loginwith_icon{text-align: center;border: 1px solid #EAECF2; margin: 5px;padding: 10px 5px; float:left;text-align: center;min-height: 75px;}

.lp_social_icon{width: 100px;font-size: 26px;}
.lp_social_text{font-family:'Poppins',sans-serif;font-weight:500;font-size: 16px;color: #4F4F4F; display: block;}
.lp_social_google{font-size: 14px;}
.lp_social_fb{color: #4F4F4F;} .lp_social_google{} .lp_social_linked{color: #000000;}
 
.lp_cnwith_text>a:hover{cursor: pointer;}
.loginForm_lg_btn{font-family:'Poppins',sans-serif;width: 100%;font-size: 16px;font-weight: 600;color: #FFFFFF;background: $primary;border: none;}
.loginForm_lg_btn:hover{background: $primary;}
.lp_form_input{border: 1px solid #D0DDE2;border-radius: 8px;height: 40px;background: #F6F7F8}
.lp_sub_title{font-size:20px;text-align: center;margin-top: 20px;margin-bottom: 50px;line-height: 30px;}
.top_social_icons{ display: flex;justify-content: flex-end;align-items: center;}
.top_social_icons a {color: #333;font-size: 25px; padding: 10px 6px;}
.top_logo{padding:15px;}
.footer-1{ background:#f9f9f9; padding:30px;color: #4F4F4F;}
.footer-1 .row{align-items: flex-end;}
.footer-1 h6{font-weight:700;}
.footer-1 ul{padding-left:15px;margin: 0; padding:0;}
.footer-1 li{ list-style-type:none; line-height:30px;}
.footer-2 li{ list-style-type:none; display:inline-block; padding-right:50px; color: #4F4F4F;}
.footer_social>a{ display: inline-block; color: #4F4F4F; display: inline-block;font-size: 26px;margin:0 5px;}
// padding-top: 55px;
.footer_followus_text{font-family:'Poppins',sans-serif; font-weight: 400; font-size: 14px;color: #4F4F4F; line-height:25px;    }
.inner-menu{margin-top:60px;}
.content-two{background: #fff;width: 100%;text-align: center;padding: 80px;font-weight: bold;font-size: 22px;}
.content-three{background: #fff;width: 100%;text-align: center;padding: 80px;font-weight: bold;font-size: 22px;}
.footer-copyright{text-align:right;}
.txtcap{font-family: 'Poppins', sans-serif;text-transform:uppercase; margin-bottom:5px;color: $primary;font-size: 24px; font-weight: bold;}
.login_with h5{ font-size:15px; margin:20px 0;}
.login_with .col-md-2{ float:left; font-size:20px;}
.tp_nav .nav-link{ padding:2px 0px !important;  margin: 0px 18px !important;font-size:17px;font-family: 'Poppins',sans-serif; color:#fff !important;}
.tp_nav .nav-link:hover{text-decoration:underline; text-decoration-color: #f6b824;}
.fl{float:left;}
.inav{font-size: 20px; font-weight: bold !important;vertical-align: text-bottom;}
.top_flagicons_togle{margin: 0; padding: 0;}
.top_flagicons_togle::after{display: none; }
.top_flagicons_togle::before{display: none !important; }
.top_flagicons_togle{background: none;border: none;}
.top_flagicons_togle:hover{background: none}
.top_flagicons_img{width: 50% !important;}
.top_flagicons_menu{min-width: 5rem;     transform: translate(0px, 27px) !important;}
.top_main_header{ display:flex; width:100%;}
.top_custom_nav{ background: $black;width: 100%;}
.top_custom_nav li{ display:inline-block;}
.footer-sec-one-div{ background-color:#c4c4c4; padding:10px; margin-top:10px; text-align:center; font-weight:bold;margin-bottom: 7px;}

.nego_page_title .grid-menu button{padding:10px}
.nego_page_title .dropdown-menu-header .dropdown-menu-header-inner{padding:15px;}
.nego_page_title .dropdown-menu.dropdown-menu-lg{min-width:18rem;}
.PageBreadcrumb{margin-bottom:10px;}
.PageTitleBtn{ border:1px solid #4f4f4f; border-radius:0}
 

.negr1_headbody{ background-color:#FAFBFC}
.negr1-page-title{ margin: 10px 30px !important; padding: 0 !important;}
.negr1_heading_text{font-family:'Poppins',sans-serif;color: #606469;font-size: 24px;  font-weight: 600;}
.negr1_heading_inner{font-family:'Poppins',sans-serif; color: #606469;font-size: 16px;  font-weight: 400;}
// .negr1_right_nav>li{  display: inline; margin: 5px;}
.negr1_right_nav > li { display: inline;/* margin: 5px; */ border-right: 1px solid; padding: 0 5px; font-family: 'Poppins', sans-serif;}
.negr1_right_nav > li:last-child{ border: none; color:#000!important}
// .negr1_right_nav>li>a:last-child{color:#000 !important}
// .negr1_right_nav > li>a:last-child{ border-right: none}
ul.negr1_right_nav{margin: 5px 0;}
.app-page-title{        margin: -35px 0px 0px !important;}
.app-main{box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);}
.app-main__inner {    padding: 33px 0px 0 !important;}
.app-main__outer{padding: 0 !important;}

// -----------------------------------------------------------------------------------------
.app-page-title .page-title-icon{ border-radius:50%;}
// .rc-tabs-tab-active{ background: #545B62; border-radius: 3px;}
// .rc-tabs-tab.rc-tabs-tab-active {
//   background: #545B62;

// }
.rc-tabs-tab-active>span>img { display: block !important;}
.PageBreadcrumb .breadcrumb{justify-content: flex-end;}
.PageTitleBtn{ border:1px solid #4f4f4f; border-radius:4px;box-sizing: border-box; padding: 5px 20px;font-weight: 400; font-size:14px;}
.PageTitleBtn i{font-weight:bold;}
.tab_head_img{display: none;}
.rc-tabs-tab-active>span>img{display: inline-block !important;}
.sidebar_closebtninner{transform: rotate(-92deg);  font-family:'Poppins',sans-serif;  font-size: 11px;border-bottom: 1px solid #E9E9EC;}
.leftside_navitem { list-style: none;}
.leftside_navbar{padding: 10px;}

.leftside_linkimg { padding-bottom: 6px;padding-right: 5px; width: 25px;}
.leftside_navlink:hover{cursor: pointer;}
.leftside_dropbody{display: inline-block;}
.leftside_drop_inner{height: 1.2rem;background-color: #F6F7F8;    align-items: baseline; padding:0 !important;}
.leftside_drop_card{box-shadow: none; }
.leftside_linkimg_dropdown{padding-bottom: 6px;padding-right: 5px;width: 25px;}
.leftside_dropmenu{    font-family: Poppins;font-style: normal;font-weight: normal;font-size: 16px;}
.leftside_dropdownbody{background: #F6F7F8; padding: 5px;}
.side_dropdown>li{list-style: none;}

.leftside_navbar>li{margin-bottom: 11px;}
.right_navbar>li{list-style: none; margin-bottom: 5px;}
ul.right_navbar {padding-top: 14px;padding-left: 14px !important;width: 100%;}
.rightside_navlink:hover{cursor: pointer;}
// .leftsidebar2_img,.sidebarnewright2_img {margin-top: 350px;}
// .testing1 {
//   height: calc(100vh - 153px);
//   overflow-y: auto;
// }
// -------------------------- test sidebar

.center-div
{
margin: 0 auto;
padding: 15px;
// background-color: red;

}



#contents {
// overflow: auto;
overflow-y: auto;
margin: auto;
overflow-x: hidden;
// margin-bottom: 10px;
width: 100%;
display:flex;
// min-height: 100vh;
}

#sidebar {
width: 21%;
margin: 0px;
padding: 0px;
background: #F6F7F8;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
// margin-top: 20px;

}

#sidebar2 {
// width: 20%;
width: 7%;
padding: 0px;
background: #FFFFFF;
// margin-top: 20px;
}

#mainContents {
   width: 72%;
   margin: 0px;
  //  background: yellow;
   background: #F6F7F8;
  //  position: relative;
  //  background: #fff;
  //  padding-top: 20px;
}



.leftsidebar1 { width: 90%; padding: 10px;}
.sidebarnewright2{width: 15%;}
.sidebarnewright1{ width: 85%;padding: 10px;}


.leftsidebar2_img1{    width: 10px; height: 16px;margin-left: 6px !important; height: 16px; width: 16px;}
.sidebarnewright2_img {padding-left: 7px;}
.leftsidebar2 {
  // box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 6px;}
.sidebarnewright2_img:hover,.leftsidebar2_img:hover{cursor: pointer;}
.room-left-sidebar .lnk-label {
    font-family: 'Poppins',sans-serif;
    color: #606469;
    font-size: 15px;
    font-weight: 300;
    width: calc(100% - 40px);
    display: inline-block;
}
.room-left-sidebar span.drop-heading {font-family: 'Poppins',sans-serif;color: #606469;font-size: 15px;font-weight: 300;text-transform: none;}
.room-right-sidebar .right_linkinside{font-size: 35px;}
.room-right-sidebar .right_vidicon{    color: #24E0FF;margin-left: 5px;}
.room-right-sidebar .right_calcicon{    color: #FF6D24;}
.room-left-sidebar .lift-icon {
    font-size: 20px;
    width: 20px;
    margin-right: 15px;
    color: #A4A4A4;
    display: inline-block;
    vertical-align: middle;
}
// .room-left-sidebar .fafile-icon { margin-right: 28px !important;}
// .room-left-sidebar .fahand-icon {margin-right: 18px !important;}
// .room-left-sidebar .fabulleye-icon {margin-right: 23px;}
.app-page-title .title-dropdown{    transform: translate3d(-152px, 38px, 0px) !important;}
.app-page-title .dropdown-menu::before,.dropdown-menu::after {background:none;}
.room-footer-tag{position: absolute; bottom: 0;}

// .roomfooter-div{position: absolute; bottom: 0;}
// .roomfooter-div .dropdown_btn{ display: inline-block;}
.roomfooter-div .roomft-content{  
  width: 100%;text-align: right; background: #FFFFFF;padding-bottom: 10px;  padding-top: 5px;}
.roomft_btn{    vertical-align: bottom;    padding: 0.375rem 0.20rem;}
// .roomfooter-div .roomft_dropbtn{padding: 0;}
// .roomfooter-div .dropdown-toggle::after {vertical-align: -0.1em;border-right: 0.6em solid transparent;border-bottom: 0.6em solid;border-left: 0.6em solid transparent;}
.roomfooter-div .roomft-content{    padding-right: 23px;}
.roomfooter-div .roomft-titlename{font-family: 'Poppins',sans-serif;font-size: 14px;color: #ABA3A3;vertical-align: -webkit-baseline-middle;margin-right: 5px;}
.roomfooter-div .roomft-dropbtn{background: #30b1ff !important; border: none; outline: none;}
.roomfooter-div .roomft-name{font-family: 'Poppins',sans-serif;font-size: 16px;color: #7AA8E5;}
// .roomfooter-di .title-dropdown{transform: translate3d(-316px, -129px, 0px) !important;}
.roomfooter-div .dropdown-menu-header-inner{ background: #60c0fc !important;}
.roomfooter-div .menu-header-title{    color: #fff;}
.roomfooter-div .title-dropdown {
  min-width: 22rem;
  // top: -60px !important;
  // left: -130px !important;
  // transform: translate3d(-190px, -129px, 0px) !important;
  border: none !important;
  transform:none !important;
  top: auto!important;
  bottom: 23px !important;
    left: -330px !important;
	box-shadow:0 0px 10px rgba(0, 0, 0, 0.25);
}
.roomfooter-div .roomft_innerheading{font-family: 'Poppins',sans-serif;color: #6E777F; font-size: 16px;font-weight: 500;}
.roomfooter-div .roomft_bottomicons {
  width: 20px;
  font-size: 20px;
  margin-right: 14px;
  color: #6E777F;
}
.roomfooter-div .roomft_bottomtext{font-family: 'Poppins',sans-serif;color: #6E777F;font-size: 14px;}
.roomfooter-div .dropdown-menu::before {display: none !important;}
.roomfooter-div .roomft_drmenu{display: flex;}
.roomfooter-div .roomft-chatbtn {background: #2cb0fa; border-radius: 50%; border: none;}
.roomfooter-div .roomft_chatdiv{margin-right: 5px;}
.roomfooter-div .roomft-settingbtn{background: #3cc37d; border: none; color: #fff;}
.roomfooter-div .roomft-messagebtn{background: #f8b928; color: #000000;border: none;}
.roomfooter-div .roomft-savebtn{background: #3cc37d; border: none; color: #fff;border-radius: 25px;}
.roomfooter-div .roomft_drmenu.roomft_savediv {border-top: 1px solid #8080806b;padding: 15px 0px;}
// button#dropdown-basic {
//   background: none;
//   padding: 5px;
//   border: none;
//   color: red;
// }

.app-theme-white.app-container{background: #fff;}
.center-content-div{min-height: 500px;}

.sidebarnew_inner {
  display: flex;
  height: 100%;
  position: relative;
}
.sidebarnew_inner .leftsidebar1 .left_bar_close {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  z-index: 2;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer; border-right: 1px solid #dedede;
}
.sidebarnew_inner .leftsidebar1 .left_bar_close img{width: 12px; height: 12px;}
.rooms_tab_warp{ padding: 10px; position: relative; }
.roomfooter-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2;
}
.app-theme-white .app-page-title {
  z-index: 2;
}
.room-left-sidebar{ z-index: 0;}
.tab_wrap_area{ background-color: white; padding: 15px;}
.rooms_tab_warp .center-content-div{ z-index: 0; position: relative;}
.sidebarnewright1 {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.room_main_wrapper{ height: 78vh;}
.room-right-sidebar {
  position: relative;
}
.rgt_bar_close{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1;
  width: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer; border-left: 1px solid #dedede; 
}
.rgt_bar_close img{ margin-top:10px; width: 12px; height: 12px; margin-left: 5px;}
.rgt_bar_close span{
  position: absolute;
  top: 41%;
  right: -15px;
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;cursor: pointer;
  color: #999;
  letter-spacing: 3px; z-index:2;
}
.app-header-right div:nth-child(3){ padding-left:0 !important;}
.leftside_dropdownbody .side_dropdown{ margin:0; padding: 0;}
.leftside_dropdownbody .side_dropdown li{ margin: 10px auto; display: block;}
.leftside_dropdownbody .side_dropdown li a{ font-size: 15px;}
.leftsidebar1 .leftside_navbar > li {
  margin-bottom: 20px;
}
.app-sidebar{border-right:1px solid #dedede;}
.page-title-heading img{ margin-right:15px;}

.leftsidebar1 .hide-label {
  display: none !important;
}

// .leftsidebar1 .hide-heading {
//   display: none !important;
// }
.form-control{background-color:#F6F7F8}
.cntrl-lbl{ font-weight:500; margin-bottom:2px;}
.mt-10{margin-top:10px;}
.mt-20{margin-top:20px;}
.pl-20{padding-left:20px;}
.pt-20{padding-top:20px;}
.fw-600{ font-weight:600;}
.fw-700{ font-weight:700;}
.my-profile-page .btn-primary:not(:disabled):not(.disabled):active, .my-profile-page .btn-primary:not(:disabled):not(.disabled).active, .my-profile-page .show > .btn-primary.dropdown-toggle{background-color: $TabBgcolor; border-color: $TabBgcolor;}

.my-profile-page .t-title{color:$primary;font-weight: 600; margin-bottom:20px;}
.my-profile-page .btn-primary{background-color: $TabBgcolor;border-color: $TabBgcolor;width: 250px; height: 40px;font-weight: bold;font-size: 15px;text-align: center;}
.my-profile-page .reset-lnk a{color:$primary; cursor:pointer;}
.my-profile-page .reset-lnk a:hover{color:$primary; text-decoration:underline;}
.my-profile-page .reg-password{position: relative;}
.my-profile-page .reg-password > button {position: absolute;right: 0;bottom: 10%;right: 1%;border: 1px solid gray;border-radius: 50%;background: none;color: gray;font-size: 15px;padding: 0px 9px;}

.reg-modal form{padding:0 50px;}
.reg-modal .terms-lnk{margin-bottom:0;}
.reg-modal .terms-lnk label{font-size:16px; color:#BDBDBD}
.reg-modal .modal-header{background:#fff;border-bottom:none;}
.reg-modal .modal-body{padding:0 1rem 1rem;}
.reg-modal h5.modal-title{width: 100%;text-align: center;color: $primary;font-weight: 600;font-size: 24px;}
.reg-modal .sub_btn{display: flex;justify-content: center;}
.reg-modal .sub_btn Button{ width:85%;font-size:16px;}
.reg-modal .reg-password{position: relative;}
.reg-modal .reg-password > button {position: absolute;right: 0;bottom: 10%;right: 2%;border: 1px solid gray;border-radius: 50%;background: none;color: gray;font-size: 15px;padding: 0px 9px;}
.alrdy-mem{color: #BDBDBD; text-align:center; margin-top:10px;}

.forgot-pass .fgt-title{ font-size:17px;} 
.rightside_navitem{text-align: center;}
.aside-tooltext {
  font-family: 'Poppins',sans-serif;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.search-wrapper{
  display: inline-block;
    vertical-align: middle;
}
.login_header_logo{
  margin-right: 15px;
}
.nav1_title_dropdown{
  display: inline-block;
}
